- name: Install docker prereq
  apt:
    name:
      - ca-certificates
      - curl
    state: present

- name: Create keyrings
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download GPG key
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Install docker sources file
  template:
    src: docker.sources.j2
    dest: /etc/apt/sources.list.d/docker.sources
    mode: '0644'

- name: Update apt cache
  apt:
    update_cache: yes

- name: Install docker packages
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present

- name: Enable Docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Add user to docker group
  user:
    name: "{{ ansible_user }}"
    groups: docker
    append: yes

